/Java EE Training/HelloWeb/nbproject/private/
/Java EE Training/HelloWeb/build/
/Java Web Application/nbproject/private/
/Java EE Training/FirstServlet/nbproject/private/
/Java EE Training/FirstServlet/build/
/Java EE Training/HelloGuest/nbproject/private/
/Java EE Training/Java Web Training/nbproject/private/
/Java EE Training/Java Web Training/build/
/Java EE Training/WebApplication/nbproject/private/
/Java EE Training/WebApplication/build/
/UVa Online Judge/nbproject/private/
/UVa Online Judge/build/
/Competivie Programming 3/nbproject/private/
/Competivie Programming 3/build/